@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.shadow_1 {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.highLight_text {
  color: #ff4800;
  font-weight: 600;
}

.light_boxShadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dark_shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card_shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

p {
  color: #57647c;
  line-height: 1.8;
}

.p_white:hover p {
  color: white !important;
}

li {
  list-style: disc;
  font-size: 14px;
}

nav li {
  list-style: none !important;
}

.home_banner {
  background: url("../public/assets/main-banner.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  top: -100px;
  z-index: -100;
}

.main-Light_border {
  border: 1px solid #ff4800
}

.sticky-top {
  position: fixed;
  top: 0;
  background-color: #ff4800;
  width: 100%;
  /* color: black !important; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1000;
}

.sticky-top ul li {
  /* color: white; */
  cursor: pointer;
}





.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent #ff4800 transparent;
  transform: rotate(0deg);
  position: absolute;
  top: -14px;
  right: 0;
}

.treatment_menu {
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 1s ease-in-out, transform 0.8s ease-in-out;
}

.treatment_menu {
  color: #000;
}

.menu_hover:hover .treatment_menu {
  opacity: 1;
  transform: translateY(0);
}

/* home start****************** home*/
.service_card {
  /* Other styles for your card */
  border-bottom: 2px solid #ff4800;
  transition: all 0.5s ease-in;
}

.service_card:hover {
  transform: translateY(-10px);
}

.top_card {
  position: relative;
  /* Adding this for pseudo-element */
  overflow: hidden;
  /* Hiding the pseudo-element */
  transition: all 1s ease-in-out;
  cursor: pointer;
  color: black;

}

.top_card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  /* Start from outside the card */
  width: 100%;
  height: 100%;
  background: #ff4800;
  z-index: -20;
  transition: left 1s ease-in-out;
  /* Transition the left position */
}

.top_card:hover::before {
  z-index: -20;
  left: 0;
  color: white;
  /* Move to cover the card on hover */
}


.gradient_bg {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}



/* home end****************** home*/





/* about page ************************/
.about_bg {
  background: linear-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)), url('/assets/about/about_bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  width: 100%;
  height: 500px;
  top: -100px;
  z-index: -100;
}


.team_card {
  overflow: hidden;
}


.card_hover {
  transition: all 0.5s ease-out;
}


.team_card:hover .card_hover {
  background-color: #ff4800;
  color: white;
  cursor: pointer;
}

.image_scale {
  overflow: hidden;
  transition: all 0.5s ease-out;

}

.team_card:hover .image_scale {
  transform: scale(1.05);
}


.team_card:hover .card_hover p {
  color: white;
  cursor: pointer;
}





/* services pages */

.primary-btn {
  position: relative;
  background-image: linear-gradient(90deg, #ee0979 0, #ff6a00 51%, #ee0979);
  padding: 12px 24px;
  text-align: center;
  transition: .5s;
  background-size: 200% auto;
  color: #fff;
  font-weight: 700;
  z-index: 1;
  border-radius: 43px 43px 43px 12px;

}




/* navbar hover effect */




.active-link{
  border-bottom: 2px solid rgb(203, 200, 236);
  padding-bottom: 5px;
  color: rgb(203, 200, 236);
}













/* about page end ************************/

/* footer *****************************************/
.links_border {
  width: 50px;
  height: 2px;
  background-color: #ff4800;
}

.border_right_footer {
  height: 100%;
  width: 1px;
  background-color: #57647c;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.3;

}


.border_right_footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Height of the animated line */
  background: linear-gradient(180deg, hsla(0, 10%, 59%, 0) 0, #ffffffd5 75%, #fff);
  background-size: 100% 10%;
  /* Height of the animated line */
  animation: borderAnimation 10s infinite;
  /* Animation settings */
  opacity: 0.4;
  /* Adjust opacity as needed */
}

@keyframes borderAnimation {
  0% {
    background-position: 0 0;
    /* Initial position of the animated line */
  }

  100% {
    background-position: 0 100%;
    /* Final position of the animated line */
  }
}


.faq ul  li{
  list-style: none !important;
  list-style-type: none !important;
}


/* all sliders ******************************************/
.clientSlider {
  width: 80% !important;
}


.testimonial_slider {
  background: linear-gradient(90deg, #dee4f3, #e7eaf6, #f0f1f9, #f8f8fc, #fff);
  height: auto;
  padding: 20px;
}


.testimonial_com {
  content: "\f113";
  color: #f5f5f5;
  position: absolute;
  right: 25px;
  bottom: 0;
  font-style: normal;
  font-size: 80px;
}









/* media query */

@media (max-width : 760px) {
  .home_banner {
    top: 0;
    background-position: center;
    /* background-size: init; */
  }
}